@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --darker-bg: rgba(15, 15, 15, 1);
  --dark-bg: rgba(15, 15, 15, 0.8);
  --spacing: 350px;
  --box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  font-family: "Space Mono", monospace;
  font-size: 0.9rem;
}

    /* loading screen */
/* this comment ^^^ is old. at first i had styling for the 
    loading screen in here, but then found it to be better
    to load the styling inline directly in index.html, rather
    than waiting for styles.css to import, which would cause
    flickering on page load
*/ 

li {
  list-style-type: square;
}

main {
  overflow: hidden;
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.main-info {
  grid-column: 3 / span 10;
  display: flex;
  flex-direction: row;
  gap: calc(100% / 6);
}

.main-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main-links span {
  padding: 10px;
  background-color: var(--dark-bg);
  max-height: 30px;
  transition: 0.4s ease-in-out;
  box-shadow: var(--box-shadow);
}

.main-links span:hover {
  background-color: var(--darker-bg);
  transform: scale(1.1);
}

.main-links a {
  color: white;
  font-weight: 900;
  font-size: large;
  text-decoration: none;
}

blockquote {
  font-family: "Raleway", sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  /* background: var(--dark-bg); */
  grid-column: 3 / span 6;
  font-size: 2.5rem;
  padding: 1.5rem;
  margin-bottom: 200px;
}

section {
  grid-column: 2 / 8;
  padding: 1.5rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  transition: 0.3s ease-in-out;
  box-shadow: var(--box-shadow);
}
section:hover {
  transform: scale(1.05);
}

.opaque {
  background: none;
  box-shadow: none;
  grid-column: 5 / span 6;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 3rem;
  display: inline;
  line-height: 1;
}
blockquote span {
  font-size: 1.5rem;
  display: block;
  margin-top: 1rem;
  font-family: "Courier New", Courier, monospace;
}
blockquote span a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
blockquote span a:hover {
  color: red;
}

.left {
  grid-column: 6 / 12;
}

.right {
  margin-right: 20px;
  padding: 0;
  text-align: right;
  margin-bottom: var(--spacing);
}

.right p {
  font-family: "Space Mono", monospace;
  font-size: 1.35rem;
}

/* contact form */
.contact__form,
.contact__group{
    display: grid;
    row-gap: 1rem;
}

.contact__form{
    position: relative;
}

.contact__box{
    position: relative;
    width: 100%;
    height: 58px;
}

.contact__input,
.contact__button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    outline: none;
    border: none;
}

.contact__input{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    border: 3px solid var(--black-color-light);
    color: var(--white-color);
    padding: .5rem 1rem;
    font-weight: var(--font-medium);
    transition: border .4s, background-color .4s;
}

.contact__input::placeholder{
    color: white;
    transition: opacity .4s;
}

.contact__input:focus{
    border: 3px solid var(--white-color);
}

.contact__input:-webkit-autofill{
    transition: background-color 6000s, color 6000s;
}

.contact__label{
    position: absolute;
    top: 8px;
    left: 10px;
    padding: 8px;
    pointer-events: none;
    transition: top .4s, opacity .4s, background-color .4s;
    opacity: 0;
}

.contact__form .contact__area{
    height: 5rem;
}

.contact__area textarea{
    resize: none;
    padding-top: 1rem;
}

.contact__button{
    max-width: 200px;
    color: white;
    font-weight: 700;
    background-color: var(--dark-bg);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease-in-out;
}

.contact__button:hover{
    background-color: var(--darker-bg);
}

.contact__input:focus::placeholder{
    opacity: 0;
}


footer {
  padding: 1rem;
  grid-column: 4 / span 4;
  display: flex;
  flex-direction: column;
}

.footer-box {
  padding: 1rem;
  background-color: var(--dark-bg);
  box-shadow: var(--box-shadow);
}

.footer-box a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.footer-box a:hover {
  color: red;
}